# OAuth2 app def
CLIENT_ID=''
CLIENT_SECRET=''
ACCESS_TOKEN_URI=http://localhost:8080/auth/realms/testrealm/protocol/openid-connect/token
AUTHORIZATION_URI=http://localhost:8080/auth/realms/testrealm/protocol/openid-connect/auth
USERINFO_URI=http://localhost:8080/auth/realms/testrealm/protocol/openid-connect/userinfo
SCOPES='basic'

# ex: http://localhost:3000/oauth/callback
REDIRECT_URI='<proto>://this instance exposed name or ip:port/oauth/callback'

# Proxied service
RP_TARGET=http://localhost:4440

# if SSL enabled
KEY_FILE=certs/key.pem
CERT_FILE=certs/cert.pem
